In [1]:
%load_ext autoreload
%autoreload 2

In [45]:
%run scraper.py

Scraper isSold False
cellTxt
New Forest PonyThoroughbred
Related Searches by Breed

thisCellTxt
cellTxt
New Forest PonyThoroughbred
Related Searches by Breed

thisCellTxt New Forest PonyThoroughbred
breed New Forest PonyThoroughbred
cellTxt
New Forest PonyThoroughbred
Related Searches by Breed

thisCellTxt Related Searches by Breed
cellTxt
New Forest PonyThoroughbred
Related Searches by Breed

thisCellTxt
age                                                     12.6438
breed                               New Forest PonyThoroughbred
breedStr      \nNew Forest PonyThoroughbred \nRelated Search...
color                                                       Bay
for lease                                                 False
for sale                                                   True
forlease                                                   None
forsale                                                    None
gender                                                  Gelding
height                                                  15.0 hh
id                                                      2008200
location                              Pylesville Maryland 21132
price                                                     30000
registered                                                 True
skills        [Dressage (Shown/Competed/Performed), Eventing...
sold                                                      False
soldhere                                                  False
temp                                                          5
warmblood                                                 False
zip                                                       21132
dtype: object

In [43]:
from mechanize import Browser
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re, pickle, sys, traceback
from datetime import datetime
url="http://www.dreamhorse.com/d/5/dressage/horses-for-sale.html"
br = Browser()
br.set_handle_robots(False)
br.set_handle_robots(False)
br.set_handle_equiv(False)
br.addheaders = [('User-agent', 'Mozilla/5.0 (X11; U; Linux i686; en-US; rv:1.9.0.1) Gecko/2008071615 Fedora/3.0.1-1.fc9 Firefox/3.0.1')]
columns=['id','breed', 'breedStr', 'price', 'color','location', 'age', 'zip', 'height', 'temp', 'warmblood', 'sold', 'soldhere']
columns+=['forsale', 'forlease', 'registered', 'skills']
cellColMap={32: 'for lease', 34: 'for sale', 2: 'zip', 36: 'price', 38: 'skills', 6: 'age', 8: 'gender', 10: 'height', 14: 'color', 20: 'warmblood', 22: 'temp', 4: 'breed', 26: 'registered'}
id=2021017
page = br.open("http://www.dreamhorse.com/ad/%i.html"%id)
html = page.read()
soup = BeautifulSoup(html, "html.parser")
tables=soup.findAll(name="table")
adDict=dict.fromkeys(columns)
adDict['id']=id
cells=tables[3].findAll("td")
soldCell=soup.findAll("td", class_="navy", limit=2)[-1]
breedCell3=cells[4]
brRe=re.compile(".*\\n(.*)<br>(.*)\\xa0.*")

In [44]:
print breedCell3.text

Andalusian
Related Searches by Breed

In [42]:
print breedCell.text

New Forest PonyThoroughbred
Related Searches by Breed

In [48]:
cells[40].text

u'Cash in on the strong US dollar!! Buy Canadian! Get more bang for your buck.  All our horses are from US and/or Canadian National Champion bloodlines for conformation, movement and performance.\r\nCome see what we have to offer at Valhalla Andalusians. We have been Canadian Breeder of the year for 4 straight years.\n\r\nSee the Best....Buy the Best....Become the Best!!\n\r\n1) VA Mi Poca Fresa - 2 yr old Grey PRE Filly.(pic is as a yearling)  Beautiful conformation, very feminine with lots of shoulder and drive. Grand-dam was the 2013 Canadian National Champion Sr Mare and the Cad National Champion Best Movement. Top side goes to US Champs Sandokan, Escamillo and Ocioso.  This filly has it all.  $8,500 USD\n\r\n2)VA CRISTAL - Lovely yearling PRE Grey filly, full sister to Fresa above - She is beautiful and with the best extensions Ive seen in such a young horse - in video and pics she is only 2 mo old -$7,000 USD\n\r\n3) VA Toledo - Grey PRE Mundial colt. Both beauty & movement in one. Half brother to the 2012, 2013, 2014 and 2015 Supreme Halter Champions via dam and sire. Dam was 2008 US Reserve National champ Mare, ATH and Gold Medal Movement winner. Sire is the 2015 National Champion Sr. Stallion and Gold Medal Movement winner. $6,500 USD. \n\r\n4) VA Aragon - Gorgeous grey PRE Mundial colt. Champ bloodlines top and bottom (Sandokan, Ocioso, Genio III, Escamillo). Dam was 2015 CDN National High Point Andalusian Horse and 2015 High Point Andalusian, Jr Horse. $6,500 USD'

In [90]:
import pickle, glob
import pandas as pd
def pickleToDataframe(path="/Users/jbrosamer/PonyPricer/Batch/DressageId*.p"):
    df=pd.DataFrame()
    dfList=[]
    for f in glob.glob(path):
        print "opening",f
        p=pickle.load(open(f, 'rb'))
        dfList.append(p)
    df = pd.concat(dfList, axis = 0)
    df = df.reset_index().drop('index', axis = 1)
    return df
df=pickleToDataframe()

opening /Users/jbrosamer/PonyPricer/Batch/DressageId0To500.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId1000To1500.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId1500To2000.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId2000To2500.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId2500To3000.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId3000To3500.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId3500To4000.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId4000To4500.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId4500To5000.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId5000To5500.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId500To1000.p

In [125]:
def pickleToDataframe(path="/Users/jbrosamer/PonyPricer/Batch/DressageId*.p"):
    df=pd.DataFrame()
    dfList=[]
    for f in glob.glob(path):
        print "opening",f
        p=pickle.load(open(f, 'rb'))
        dfList.append(p)
    df = pd.concat(dfList, axis = 0)
    df = df.reset_index().drop('index', axis = 1)
    return df
tf=pickleToDataframe()

opening /Users/jbrosamer/PonyPricer/Batch/DressageId0To500.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId1000To1500.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId1500To2000.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId2000To2500.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId2500To3000.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId3000To3500.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId3500To4000.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId4000To4500.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId4500To5000.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId5000To5500.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId500To1000.p

In [127]:
type(tf)

pandas.core.frame.DataFrame

In [77]:
goodDf=goodDf[goodDf.price < 100000.]

In [128]:
tf.columns

Index([u'id', u'breed', u'breedStr', u'price', u'color', u'location', u'age',
       u'zip', u'height', u'temp', u'warmblood', u'sold', u'soldhere',
       u'forsale', u'forlease', u'registered', u'skills', u'desc'],
      dtype='object')

In [152]:
def skillToStr(row):
    if pd.isnull(row['skills']):
        return ""
    try:
        return ",".join(row['skills'])
    except:
        return ""

In [119]:
def inches(row):
    try:
         if "hh" in row["height"]:
            return float(row['height'].split('.')[0])*4.0+float(row['height'].split('.')[1][0])
         if "Inch" in row['height']:
            return float(row['height'].replace(" Inches", ""))
    except:
        return 0

In [153]:
skillStr=tf.apply(skillToStr, axis=1)

ValueError: ('The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()', u'occurred at index 0')

In [154]:
badCols=['breedStr', 'desc', 'location']
tf.drop(badCols, axis=1, inplace=True)

In [158]:
import sys
import os
import datetime as dt
from collections import OrderedDict

import pandas as pd
import numpy as np
import mysql.connector
import pickle, glob

class dbConnect():
    '''
    Class to help with context management for 'with' statements.

    http://www.webmasterwords.com/python-with-statement

    c = dbConnect(host = 'localhost', user = 'root',
                  passwd = 'default', db = 'nba_stats')
    with c:
        df.to_sql('nbadotcom', c.con, flavor = 'mysql', dtype = dtype)
    '''
    def __init__(self, host, user, passwd, db):
        self.host = host
        self.user = user
        self.passwd = passwd
        self.db = db
    def __enter__(self):
        self.con = mysql.connector.connect(host = self.host, user = self.user,
                                   passwd = self.passwd, db = self.db)
        self.cur = self.con.cursor()
    def __exit__(self, type, value, traceback):
        self.cur.close()
        self.con.close()

In [162]:
connect = dbConnect(host = 'localhost', user = 'root',
            passwd = 'jbrosamer', db = 'horses')
with connect:
    testName="test"
    df = pd.DataFrame({'id': tf['id']})
    df.to_sql(name = testName, con = connect.con,
                      flavor = 'mysql', if_exists='replace')

In [163]:
import scrape2sql as sq

In [164]:
df=sq.pickleToDataframe()

opening /Users/jbrosamer/PonyPricer/Batch/DressageId0To500.p

In [167]:
df.head()

,id,breed,breedStr,price,color,location,age,zip,height,temp,warmblood,sold,soldhere,forsale,forlease,registered,skills,desc
0,2021017,Andalusian,\nAndalusian \nRelated Searches by Breed\n,8500,Grey,Crescent Valley British Columbia V0G 1H0,1.88767,0,0 Inches,11,False,False,False,None,None,True,"[Champion Pedigree, Dressage, Halter, Sporthor...",None
1,2020662,FriesianHalf Arabian,\nFriesian CrossHalf Arabian \nRelated Searche...,5000,Bay,Stanwood Washington 98292,0.635616,98292,0 Inches,11,False,False,False,None,None,True,"[Dressage, Sporthorse]",None
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020354,AQHA Quarter Horse Appendix,\nAQHA Quarter Horse Appendix \nRelated Search...,9500,Bay,Port Orchard Washington 98366,13.0575,98366,16.0 hh,3,False,False,False,None,None,True,"[Dressage, Eventing, Hunt Seat Equitation, Jum...",None
4,2020339,Dutch Warmblood,\nDutch Warmblood \nRelated Searches by Breed\n,18000,Bay,Waddell Arizona 85355,13.5616,85355,17.0 hh,5,False,False,False,None,None,True,"[Dressage, Eventing, Trail Riding, Recreational]",None

In [ ]:
badCols=[u'breed', u'breedStr', u'price', u'color', u'location', u'age',
       u'zip', u'height', u'temp', u'warmblood', u'sold', u'soldhere',
       u'forsale', u'forlease', u'registered', u'skills', u'desc', u'inches']
tf=df.drop(badCols, axis=1)