In [1]:
%load_ext autoreload
%autoreload 2

In [45]:
%run scraper.py

Scraper isSold False
cellTxt
New Forest PonyThoroughbred
Related Searches by Breed

thisCellTxt
cellTxt
New Forest PonyThoroughbred
Related Searches by Breed

thisCellTxt New Forest PonyThoroughbred
breed New Forest PonyThoroughbred
cellTxt
New Forest PonyThoroughbred
Related Searches by Breed

thisCellTxt Related Searches by Breed
cellTxt
New Forest PonyThoroughbred
Related Searches by Breed

thisCellTxt
age                                                     12.6438
breed                               New Forest PonyThoroughbred
breedStr      \nNew Forest PonyThoroughbred \nRelated Search...
color                                                       Bay
for lease                                                 False
for sale                                                   True
forlease                                                   None
forsale                                                    None
gender                                                  Gelding
height                                                  15.0 hh
id                                                      2008200
location                              Pylesville Maryland 21132
price                                                     30000
registered                                                 True
skills        [Dressage (Shown/Competed/Performed), Eventing...
sold                                                      False
soldhere                                                  False
temp                                                          5
warmblood                                                 False
zip                                                       21132
dtype: object

In [43]:
from mechanize import Browser
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re, pickle, sys, traceback
from datetime import datetime
url="http://www.dreamhorse.com/d/5/dressage/horses-for-sale.html"
br = Browser()
br.set_handle_robots(False)
br.set_handle_robots(False)
br.set_handle_equiv(False)
br.addheaders = [('User-agent', 'Mozilla/5.0 (X11; U; Linux i686; en-US; rv:1.9.0.1) Gecko/2008071615 Fedora/3.0.1-1.fc9 Firefox/3.0.1')]
columns=['id','breed', 'breedStr', 'price', 'color','location', 'age', 'zip', 'height', 'temp', 'warmblood', 'sold', 'soldhere']
columns+=['forsale', 'forlease', 'registered', 'skills']
cellColMap={32: 'for lease', 34: 'for sale', 2: 'zip', 36: 'price', 38: 'skills', 6: 'age', 8: 'gender', 10: 'height', 14: 'color', 20: 'warmblood', 22: 'temp', 4: 'breed', 26: 'registered'}
id=2021017
page = br.open("http://www.dreamhorse.com/ad/%i.html"%id)
html = page.read()
soup = BeautifulSoup(html, "html.parser")
tables=soup.findAll(name="table")
adDict=dict.fromkeys(columns)
adDict['id']=id
cells=tables[3].findAll("td")
soldCell=soup.findAll("td", class_="navy", limit=2)[-1]
breedCell3=cells[4]
brRe=re.compile(".*\\n(.*)<br>(.*)\\xa0.*")

In [44]:
print breedCell3.text

Andalusian
Related Searches by Breed

In [42]:
print breedCell.text

New Forest PonyThoroughbred
Related Searches by Breed

In [48]:
cells[40].text

u'Cash in on the strong US dollar!! Buy Canadian! Get more bang for your buck.  All our horses are from US and/or Canadian National Champion bloodlines for conformation, movement and performance.\r\nCome see what we have to offer at Valhalla Andalusians. We have been Canadian Breeder of the year for 4 straight years.\n\r\nSee the Best....Buy the Best....Become the Best!!\n\r\n1) VA Mi Poca Fresa - 2 yr old Grey PRE Filly.(pic is as a yearling)  Beautiful conformation, very feminine with lots of shoulder and drive. Grand-dam was the 2013 Canadian National Champion Sr Mare and the Cad National Champion Best Movement. Top side goes to US Champs Sandokan, Escamillo and Ocioso.  This filly has it all.  $8,500 USD\n\r\n2)VA CRISTAL - Lovely yearling PRE Grey filly, full sister to Fresa above - She is beautiful and with the best extensions Ive seen in such a young horse - in video and pics she is only 2 mo old -$7,000 USD\n\r\n3) VA Toledo - Grey PRE Mundial colt. Both beauty & movement in one. Half brother to the 2012, 2013, 2014 and 2015 Supreme Halter Champions via dam and sire. Dam was 2008 US Reserve National champ Mare, ATH and Gold Medal Movement winner. Sire is the 2015 National Champion Sr. Stallion and Gold Medal Movement winner. $6,500 USD. \n\r\n4) VA Aragon - Gorgeous grey PRE Mundial colt. Champ bloodlines top and bottom (Sandokan, Ocioso, Genio III, Escamillo). Dam was 2015 CDN National High Point Andalusian Horse and 2015 High Point Andalusian, Jr Horse. $6,500 USD'

In [90]:
import pickle, glob
import pandas as pd
def pickleToDataframe(path="/Users/jbrosamer/PonyPricer/Batch/DressageId*.p"):
    df=pd.DataFrame()
    dfList=[]
    for f in glob.glob(path):
        print "opening",f
        p=pickle.load(open(f, 'rb'))
        dfList.append(p)
    df = pd.concat(dfList, axis = 0)
    df = df.reset_index().drop('index', axis = 1)
    return df
df=pickleToDataframe()

opening /Users/jbrosamer/PonyPricer/Batch/DressageId0To500.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId1000To1500.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId1500To2000.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId2000To2500.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId2500To3000.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId3000To3500.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId3500To4000.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId4000To4500.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId4500To5000.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId5000To5500.p
opening /Users/jbrosamer/PonyPricer/Batch/DressageId500To1000.p

In [104]:
hands=[d for d in df['height'] ]

SyntaxError: invalid syntax (<ipython-input-104-68791fd3d243>, line 1)

In [102]:
"Inches" in hands[0]

True

In [77]:
goodDf=goodDf[goodDf.price < 100000.]

In [82]:
len(goodDf)

0       [0 Inches]
1       [0 Inches]
3       [16, 0 hh]
4       [17, 0 hh]
6       [16, 1 hh]
8       [16, 0 hh]
9       [15, 0 hh]
10      [16, 2 hh]
12      [17, 0 hh]
14      [15, 2 hh]
15      [14, 1 hh]
16      [15, 3 hh]
17      [16, 2 hh]
18      [15, 3 hh]
19      [16, 2 hh]
20      [16, 1 hh]
21      [14, 2 hh]
22      [16, 0 hh]
23      [16, 1 hh]
24      [17, 0 hh]
25      [16, 3 hh]
26      [12, 2 hh]
27      [15, 0 hh]
28      [16, 1 hh]
29      [0 Inches]
30      [13, 2 hh]
31      [17, 0 hh]
32      [15, 2 hh]
33      [17, 1 hh]
36      [16, 0 hh]
           ...
5173    [14, 1 hh]
5174    [14, 3 hh]
5175    [16, 3 hh]
5176    [16, 3 hh]
5177    [13, 1 hh]
5178    [15, 2 hh]
5179    [14, 2 hh]
5180    [15, 1 hh]
5181    [16, 0 hh]
5182    [15, 0 hh]
5183    [15, 0 hh]
5184    [16, 0 hh]
5185    [15, 0 hh]
5186    [15, 2 hh]
5187    [14, 1 hh]
5188    [13, 2 hh]
5189    [15, 2 hh]
5190    [14, 1 hh]
5191    [16, 1 hh]
5192    [16, 0 hh]
5193    [15, 1 hh]
5194    [15, 0 hh]
5195    [16, 2 hh]
5196    [15, 3 hh]
5197    [16, 1 hh]
5198    [16, 0 hh]
5199    [16, 2 hh]
5200    [16, 0 hh]
5201    [16, 1 hh]
5202    [17, 1 hh]
dtype: object

In [106]:
hands=[4.0*float(d.split(".")[0]) if "hh" in d else None for d in goodDf['height'] ]

In [86]:
hands=[d.split(".")[0] for d in goodDf['height'].str if "hh" in d else None]

SyntaxError: invalid syntax (<ipython-input-86-27aafc290e90>, line 1)

In [89]:
l=[d for d in goodDf['height']]

In [88]:
l

[0       0
 1       0
 3       1
 4       1
 6       1
 8       1
 9       1
 10      1
 12      1
 14      1
 15      1
 16      1
 17      1
 18      1
 19      1
 20      1
 21      1
 22      1
 23      1
 24      1
 25      1
 26      1
 27      1
 28      1
 29      0
 30      1
 31      1
 32      1
 33      1
 36      1
        ..
 5173    1
 5174    1
 5175    1
 5176    1
 5177    1
 5178    1
 5179    1
 5180    1
 5181    1
 5182    1
 5183    1
 5184    1
 5185    1
 5186    1
 5187    1
 5188    1
 5189    1
 5190    1
 5191    1
 5192    1
 5193    1
 5194    1
 5195    1
 5196    1
 5197    1
 5198    1
 5199    1
 5200    1
 5201    1
 5202    1
 Name: height, dtype: object, 0
 1
 3       6
 4       7
 6       6
 8       6
 9       5
 10      6
 12      7
 14      5
 15      4
 16      5
 17      6
 18      5
 19      6
 20      6
 21      4
 22      6
 23      6
 24      7
 25      6
 26      2
 27      5
 28      6
 29
 30      3
 31      7
 32      5
 33      7
 36      6
        ..
 5173    4
 5174    4
 5175    6
 5176    6
 5177    3
 5178    5
 5179    4
 5180    5
 5181    6
 5182    5
 5183    5
 5184    6
 5185    5
 5186    5
 5187    4
 5188    3
 5189    5
 5190    4
 5191    6
 5192    6
 5193    5
 5194    5
 5195    6
 5196    5
 5197    6
 5198    6
 5199    6
 5200    6
 5201    6
 5202    7
 Name: height, dtype: object, 0       I
 1       I
 3       .
 4       .
 6       .
 8       .
 9       .
 10      .
 12      .
 14      .
 15      .
 16      .
 17      .
 18      .
 19      .
 20      .
 21      .
 22      .
 23      .
 24      .
 25      .
 26      .
 27      .
 28      .
 29      I
 30      .
 31      .
 32      .
 33      .
 36      .
        ..
 5173    .
 5174    .
 5175    .
 5176    .
 5177    .
 5178    .
 5179    .
 5180    .
 5181    .
 5182    .
 5183    .
 5184    .
 5185    .
 5186    .
 5187    .
 5188    .
 5189    .
 5190    .
 5191    .
 5192    .
 5193    .
 5194    .
 5195    .
 5196    .
 5197    .
 5198    .
 5199    .
 5200    .
 5201    .
 5202    .
 Name: height, dtype: object, 0       n
 1       n
 3       0
 4       0
 6       1
 8       0
 9       0
 10      2
 12      0
 14      2
 15      1
 16      3
 17      2
 18      3
 19      2
 20      1
 21      2
 22      0
 23      1
 24      0
 25      3
 26      2
 27      0
 28      1
 29      n
 30      2
 31      0
 32      2
 33      1
 36      0
        ..
 5173    1
 5174    3
 5175    3
 5176    3
 5177    1
 5178    2
 5179    2
 5180    1
 5181    0
 5182    0
 5183    0
 5184    0
 5185    0
 5186    2
 5187    1
 5188    2
 5189    2
 5190    1
 5191    1
 5192    0
 5193    1
 5194    0
 5195    2
 5196    3
 5197    1
 5198    0
 5199    2
 5200    0
 5201    1
 5202    1
 Name: height, dtype: object, 0       c
 1       c
 3
 4
 6
 8
 9
 10
 12
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29      c
 30
 31
 32
 33
 36
        ..
 5173
 5174
 5175
 5176
 5177
 5178
 5179
 5180
 5181
 5182
 5183
 5184
 5185
 5186
 5187
 5188
 5189
 5190
 5191
 5192
 5193
 5194
 5195
 5196
 5197
 5198
 5199
 5200
 5201
 5202
 Name: height, dtype: object, 0       h
 1       h
 3       h
 4       h
 6       h
 8       h
 9       h
 10      h
 12      h
 14      h
 15      h
 16      h
 17      h
 18      h
 19      h
 20      h
 21      h
 22      h
 23      h
 24      h
 25      h
 26      h
 27      h
 28      h
 29      h
 30      h
 31      h
 32      h
 33      h
 36      h
        ..
 5173    h
 5174    h
 5175    h
 5176    h
 5177    h
 5178    h
 5179    h
 5180    h
 5181    h
 5182    h
 5183    h
 5184    h
 5185    h
 5186    h
 5187    h
 5188    h
 5189    h
 5190    h
 5191    h
 5192    h
 5193    h
 5194    h
 5195    h
 5196    h
 5197    h
 5198    h
 5199    h
 5200    h
 5201    h
 5202    h
 Name: height, dtype: object, 0       e
 1       e
 3       h
 4       h
 6       h
 8       h
 9       h
 10      h
 12      h
 14      h
 15      h
 16      h
 17      h
 18      h
 19      h
 20      h
 21      h
 22      h
 23      h
 24      h
 25      h
 26      h
 27      h
 28      h
 29      e
 30      h
 31      h
 32      h
 33      h
 36      h
        ..
 5173    h
 5174    h
 5175    h
 5176    h
 5177    h
 5178    h
 5179    h
 5180    h
 5181    h
 5182    h
 5183    h
 5184    h
 5185    h
 5186    h
 5187    h
 5188    h
 5189    h
 5190    h
 5191    h
 5192    h
 5193    h
 5194    h
 5195    h
 5196    h
 5197    h
 5198    h
 5199    h
 5200    h
 5201    h
 5202    h
 Name: height, dtype: object, 0         s
 1         s
 3       NaN
 4       NaN
 6       NaN
 8       NaN
 9       NaN
 10      NaN
 12      NaN
 14      NaN
 15      NaN
 16      NaN
 17      NaN
 18      NaN
 19      NaN
 20      NaN
 21      NaN
 22      NaN
 23      NaN
 24      NaN
 25      NaN
 26      NaN
 27      NaN
 28      NaN
 29        s
 30      NaN
 31      NaN
 32      NaN
 33      NaN
 36      NaN
        ...
 5173    NaN
 5174    NaN
 5175    NaN
 5176    NaN
 5177    NaN
 5178    NaN
 5179    NaN
 5180    NaN
 5181    NaN
 5182    NaN
 5183    NaN
 5184    NaN
 5185    NaN
 5186    NaN
 5187    NaN
 5188    NaN
 5189    NaN
 5190    NaN
 5191    NaN
 5192    NaN
 5193    NaN
 5194    NaN
 5195    NaN
 5196    NaN
 5197    NaN
 5198    NaN
 5199    NaN
 5200    NaN
 5201    NaN
 5202    NaN
 Name: height, dtype: object, 0       NaN
 1       NaN
 3       NaN
 4       NaN
 6       NaN
 8       NaN
 9       NaN
 10      NaN
 12      NaN
 14      NaN
 15      NaN
 16      NaN
 17      NaN
 18      NaN
 19      NaN
 20      NaN
 21      NaN
 22      NaN
 23      NaN
 24      NaN
 25      NaN
 26      NaN
 27      NaN
 28      NaN
 29      NaN
 30      NaN
 31      NaN
 32      NaN
 33      NaN
 36      NaN
        ...
 5173    NaN
 5174    NaN
 5175    NaN
 5176    NaN
 5177    NaN
 5178    NaN
 5179    NaN
 5180    NaN
 5181    NaN
 5182    NaN
 5183    NaN
 5184    NaN
 5185    NaN
 5186    NaN
 5187    NaN
 5188    NaN
 5189    NaN
 5190    NaN
 5191    NaN
 5192    NaN
 5193    NaN
 5194    NaN
 5195    NaN
 5196    NaN
 5197    NaN
 5198    NaN
 5199    NaN
 5200    NaN
 5201    NaN
 5202    NaN
 Name: height, dtype: object]